*
!.antrc
!.bash_aliases
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.profile
!.Xresources
!.xsession

!.config
!.config/user-dirs.dirs
!.config/fontconfig
!.config/fontconfig/fonts.conf

!.xkb
!.xkb/loadxkb.sh
!.xkb/modifier.xkb

!bin
!bin/emacs-urxvt
!bin/jshint-curl
!bin/xset-screen.py

!sbin
!sbin/get-backlight_thinkpad-e130.sh
!sbin/set-backlight_thinkpad-e130.sh