*

!.antrc
!.bash_aliases
!.bash_env
!.bash_logout
!.bash_profile
!.bashrc

!bin
!bin/emacs-urxvt
!bin/eslint-cygwin.sh
!bin/global-address.sh
!bin/http-server.py
!bin/install-dropbox.sh
!bin/install-get-pip.sh
!bin/install-ghcup.sh
!bin/install-nodenv.sh
!bin/install-pandoc.sh
!bin/install-rust-analyzer.sh
!bin/install-rustup.sh
!bin/livereload-server.py
!bin/open-jtalk.py
!bin/viera_display.sh
!bin/xset-screen.py

!.config
!.config/awesome
!.config/awesome/desktop
!.config/awesome/desktop/rc.lua
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/matplotlib
!.config/matplotlib/matplotlibrc
!.config/redshift.conf
!.config/user-dirs.dirs

!create-gitignore.sh

!etc
!etc/console-setup
!etc/console-setup/cached.kmap.gz
!etc/console-setup/cached.kmap.gz.old
!etc/console-setup/cached_UTF-8_del.kmap.gz
!etc/console-setup/README.md
!etc/console-setup/remap.inc
!etc/console-setup/remap.inc.dpkg-dist
!etc/geoclue
!etc/geoclue/geoclue.conf

!.gitignore
!LICENSE

!.local
!.local/share
!.local/share/applications
!.local/share/applications/firefox.desktop

!.npmrc
!.profile
!README.md

!repo
!repo/build-ccls.sh
!repo/download-haskell-language-server.sh
!repo/nobiruwa.github
!repo/nobiruwa.github/cloneall.sh
!repo/nobiruwa.github/pullall.sh
!repo/nobiruwa.github/rebaseall.sh

!sbin
!sbin/detect-sysfs-e130.sh
!sbin/get-backlight_thinkpad-e130.sh
!sbin/powersave-e130.sh
!sbin/powersave-ethernet.sh
!sbin/reinstall-nvidia-driver-with-modsign-key.sh
!sbin/set-backlight_thinkpad-e130.sh
!sbin/stop-ethernet.sh

!.xkb
!.xkb/loadxkb.sh
!.xkb/modifier.xkb

!.Xresources
!.Xresources_urxvt_zenburn
!.xsessionrc
