*

!.antrc
!.bash_aliases
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
!.npmrc
!.profile
!.xprofile
!.Xresources
!.xsession

!create-gitignore.sh
!LICENSE
!README.md

!.config/
!.config/awesome
!.config/awesome/mobile
!.config/awesome/mobile/rc.lua
!.config/awesome/desktop
!.config/awesome/desktop/rc.lua
!.config/user-dirs.dirs
!.config/fontconfig
!.config/fontconfig/fonts.conf

!.xkb/
!.xkb/modifier.xkb
!.xkb/loadxkb.sh

!bin/
!bin/open-jtalk.py
!bin/update-dropbox.sh
!bin/powershell
!bin/powershell/Remote-Interact.ps1
!bin/powershell/Copy.ps1
!bin/viera_display.sh
!bin/livereload-server.py
!bin/xset-screen.py
!bin/global-address.sh
!bin/emacs-urxvt
!bin/http-server.py

!sbin/
!sbin/get-backlight_thinkpad-e130.sh
!sbin/set-backlight_thinkpad-e130.sh
!sbin/powersave-ethernet.sh
!sbin/detect-sysfs-e130.sh
!sbin/powersave-e130.sh
!sbin/stop-ethernet.sh
