!Font DPI is constant with this display resolution.
Xft.dpi: 96

Emacs*useXIM: false
Emacs.toolBar: 0
Emacs.geometry: 80x32-0+0
Emacs.font: VL Gothic-15

XTerm*utf8: true
XTerm*locale: true
XTerm*cjkWidth: true
XTerm*faceName: DejaVu Sans Mono
XTerm*faceNameDoublesize: VL Gothic
XTerm*faceSize: 10
XTerm*termName: xterm-256color
XTerm*font: -efont-fixed-medium-r-normal-*-16-*-*-*-c-*-iso10646-1
XTerm*ximFont: -efont-fixed-medium-r-normal-*-16-*-*-*-c-*-iso10646-1
XTerm*background: rgb:3f/3f/3f
XTerm*foreground: rgb:dc/dc/cc

URxvt.font: xft:VL Gothic:pixelsize=18,xft:Noto Mono:pixelsize=18,xft:Noto Sans Mono CJK JP:pixelsize=18,xft:Noto Sans Mono CJK KR:pixelsize=18,xft:Noto Sans Mono CJK TC:pixelsize=18,xft:Noto Sans Mono CJK SC:pixelsize=18,xft:Droid Sans Fallback:pixelsize=18,xft:DejaVu Sans Mono:pixelsize=18
URxvt.imFont: xft:VL Gothic:pixelsize=18,xft:Noto Mono:pixelsize=18,xft:Noto Sans Mono CJK JP:pixelsize=18,xft:Noto Sans Mono CJK KR:pixelsize=18,xft:Noto Sans Mono CJK TC:pixelsize=18,xft:Noto Sans Mono CJK SC:pixelsize=18,xft:Droid Sans Fallback:pixelsize=18,xft:DejaVu Sans Mono:pixelsize=18
URxvt.boldFont: xft:VL Gothic:bold:pixelsize=18,xft:Noto Mono Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK JP Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK KR Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK TC Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK SC Bold:bold:pixelsize=18,xft:DejaVu Sans Mono:bold:pixelsize=18
URxvt.inputMethod: none
URxvt.iso14755: false
URxvt.iso14755_2: false
URxvt.perl-ext:
URxvt.perl-ext-common:

! Solarized theme
URxvt*foreground: #657b83
URxvt*background: #002b36

URxvt*colorUL: #657b83
URxvt*underlineColor: #657b83

! dark
!! black
URxvt*color0: #073642
!! red
URxvt*color1: #dc322f
!! green
URxvt*color2: #859900
!! yellow
URxvt*color3: #b58900
!! blue
URxvt*color4: #268bd2
!! magenta
URxvt*color5: #d33682
!! cyan
URxvt*color6: #2aa198
!! white
URxvt*color7: #eee8d5

! light theme
!! black
URxvt*color8: #002b36
!! red
URxvt*color9: #cb4b16
!! green
URxvt*color10: #586e75
!! yellow
URxvt*color11: #657b83
!! blue
URxvt*color12: #839496
!! magenta
URxvt*color13: #6c71c4
!! cyan
URxvt*color14: #93a1a1
!! white
URxvt*color15: #fdf6e3