!Font DPI is constant with this display resolution.
Xft.dpi: 96

Emacs*useXIM: false
Emacs.toolBar: 0
Emacs.geometry: 80x32-0+0
Emacs.font: VL Gothic-15

XTerm*utf8: true
XTerm*locale: true
XTerm*cjkWidth: true
XTerm*faceName: DejaVu Sans Mono
XTerm*faceNameDoublesize: VL Gothic
XTerm*faceSize: 10
XTerm*termName: xterm-256color
XTerm*font: -efont-fixed-medium-r-normal-*-16-*-*-*-c-*-iso10646-1
XTerm*ximFont: -efont-fixed-medium-r-normal-*-16-*-*-*-c-*-iso10646-1
XTerm*background: rgb:3f/3f/3f
XTerm*foreground: rgb:dc/dc/cc

URxvt.font: xft:VL Gothic:pixelsize=18,xft:Noto Mono:pixelsize=18,xft:Noto Sans Mono CJK JP:pixelsize=18,xft:Noto Sans Mono CJK KR:pixelsize=18,xft:Noto Sans Mono CJK TC:pixelsize=18,xft:Noto Sans Mono CJK SC:pixelsize=18,xft:Droid Sans Fallback:pixelsize=18,xft:DejaVu Sans Mono:pixelsize=18
URxvt.imFont: xft:VL Gothic:pixelsize=18,xft:Noto Mono:pixelsize=18,xft:Noto Sans Mono CJK JP:pixelsize=18,xft:Noto Sans Mono CJK KR:pixelsize=18,xft:Noto Sans Mono CJK TC:pixelsize=18,xft:Noto Sans Mono CJK SC:pixelsize=18,xft:Droid Sans Fallback:pixelsize=18,xft:DejaVu Sans Mono:pixelsize=18
URxvt.boldFont: xft:VL Gothic:bold:pixelsize=18,xft:Noto Mono Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK JP Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK KR Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK TC Bold:bold:pixelsize=18,xft:Noto Sans Mono CJK SC Bold:bold:pixelsize=18,xft:DejaVu Sans Mono:bold:pixelsize=18
URxvt.inputMethod: none
URxvt.iso14755: false
URxvt.iso14755_2: false
URxvt.perl-ext:
URxvt.perl-ext-common:
! Zenburn theme
URxvt*foreground: #dcdccc
URxvt*background: #3f3f3f

URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779

URxvt*color0: #3f3f3f
URxvt*color1: #705050
URxvt*color2: #60b48a
URxvt*color3: #dfaf8f
URxvt*color4: #506070
URxvt*color5: #dc8cc3
URxvt*color6: #8cd0d3
URxvt*color7: #DCDCCC

URxvt*color8: #709080
URxvt*color9: #cc9393
URxvt*color10: #7f9f7f
URxvt*color11: #f0dfaf
URxvt*color12: #94bff3
URxvt*color13: #ec93d3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff